
/* Шапка сайта */
* {
    box-sizing: border-box  ;
}
.container {
    width: 1278px;
    margin: 0 auto;
    border: 1px solid blue;
}


.header {
    background-color: #66D1FF;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #060d10;
}

.header .btn {
    font-size: 24px;
}

/* section-lead  */

.lead {
    color: #FFF;
    text-shadow: 1px 1px 2px #060D10;
    padding: 240px 0;
    text-align: center;
    background-image: url(../images/bg-lead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

}
.lead-title {
    font-family: Oswald;
    font-size: 60px;
    font-weight: 500;

}

.lead-text {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    text-align: center;

    
}

/* section-desc  */

.desc {
    padding: 170px 0;
    background-color: rgba(102, 209, 255, .1);
    color: #060D10;
}

.desc-title, .desc-caption {
    font-family: Oswald;
    font-weight: 500;
}

.desc-title {
    text-align: center;
    font-size: 48px;
      
}

.desc-caption {
    font-size: 32px;
    
}

.desc-text {
    font-family: Montserrat;
    font-size: 26px;
    line-height: 140%;
    opacity: 0.8;
   
}

/* section-slogan */


.slogan {
    padding: 170px 0;
    color: #060D10;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    
}
.slogan-btn {
    color: #060D10;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
}


  

/* footer */
.footer {
    background-color: #060D10;
    color: #FFF;
    font-family: Montserrat;
    font-weight: 500;
}
.footer-title {
    font-size: 20px;
   
}

.footer-copyright {
    font-size: 18px;
   
}

.social-link {
    display: block;
    width: 40px;
    height: 40px;
    /* border: 1px solid #fff; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.footer-socials {
    list-style: none;
}


/* montserrat-regular - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic-ext_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic-ext_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-cyrillic-ext_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




  /* oswald-regular - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v49-cyrillic-ext_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* oswald-500 - cyrillic-ext_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/oswald-v49-cyrillic-ext_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  