



h1 {
    color: red
}

.desc-caption {
    color:darkorchid

}

.slogan {

color:darkgreen
}

.slogan {
    color:fuchsia
}

.footer-socials {
    color:chartreuse
}

/* ? */
.footer-socials .logo-twitter {
    color:brown
}

footer a {
    color:chocolate
}

/* Шапка сайта */

.header {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    
}

.header a {
    text-decoration: none;
}

/* section-lead  */
.lead-title {
    font-family: Oswald;
    font-size: 60px;
    font-weight: 500;
    text-align: center;

}

.lead-text {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

/* section-desc  */

.desc-title, .desc-caption {
    font-family: Oswald;
}

/* Учиться с нами увлекательно и эффективно */
.desc-title {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.desc-caption {
    font-size: 32px;
    font-weight: 500;
}

.desc p {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;

}
/* ? */
.slogan>h4 {
    font-family: Oswald;
    font-size: 48px;
    font-weight: 500;
    text-align: center;

}
.slogan-btn {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
}
  

   /*.btn {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

} */



/* montserrat-regular - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic-ext_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic-ext_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-cyrillic-ext_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




  /* oswald-regular - cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v49-cyrillic-ext_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* oswald-500 - cyrillic-ext_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/oswald-v49-cyrillic-ext_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }